{% extends 'base.html' %}
{% load i18n static %}

{% block head_title %}
    <title>{% trans 'Sign Up' %}</title>
{% endblock %}
{% block head_links %}

{% endblock head_links %}
{% block breadcrumb %}
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Signup</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->
{% endblock breadcrumb %}
{% block content %}

    {% block messages %}
        {% if messages %}
        <div>
            <ul>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endblock %}

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('{% static 'assets/images/backgrounds/login-bg.jpg' %}')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">{% trans "Sign Up" %}</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form id="signup_form" method="POST" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="register-email-2">Your email address *</label>
                                    {{ form.email }}
                                </div><!-- End .form-group -->
                            
                                <div class="form-group">
                                    <label for="register-password-2">Password *</label>
                                    {{ form.password1 }}
                                </div><!-- End .form-group -->

                                {% if redirect_field_value %}

                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                
                                {% endif %}
                            
                                <div class="form-footer">
                                    <button class="btn btn-outline-primary-2" type="submit">
                                        <span>{% trans "Sign Up" %}</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login  btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->

                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
  
{% endblock %}


<a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>


<div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
  <form action="#">
      <div class="form-group">
          <label for="register-email-2">Your email address *</label>
          {{ form.email }}
      </div><!-- End .form-group -->

      <div class="form-group">
          <label for="register-password-2">Password *</label>
          {{ form.password1 }}
      </div><!-- End .form-group -->

      <div class="form-footer">
          <button type="submit" class="btn btn-outline-primary-2">
              <span>SIGN UP</span>
              <i class="icon-long-arrow-right"></i>
          </button>

          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
              <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
          </div><!-- End .custom-checkbox -->
      </div><!-- End .form-footer -->
  </form>
  <div class="form-choice">
      <p class="text-center">or sign in with</p>
      <div class="row">
          <div class="col-sm-6">
              <a href="#" class="btn btn-login btn-g">
                  <i class="icon-google"></i>
                  Login With Google
              </a>
          </div><!-- End .col-6 -->
          <div class="col-sm-6">
              <a href="#" class="btn btn-login  btn-f">
                  <i class="icon-facebook-f"></i>
                  Login With Facebook
              </a>
          </div><!-- End .col-6 -->
      </div><!-- End .row -->
  </div><!-- End .form-choice -->
</div><!-- .End .tab-pane -->







<h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>

<p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="container-fluid text-center" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
