{% extends "registration/account__col-1.html" %}
{% load static %}

{% block head_title %}
Log In | {{ block.super }}
{% endblock head_title %}

{% block breadcrumb %}
    <ul class="breadcrumb v3">
        <li><a href="#">Home</a></li>
        <li class="active">My Account</li>
    </ul>
{% endblock breadcrumb %}

{% block messages %}
{% endblock messages %}

{% block content %}
    <div class="row flex pd">
        <div class="account-element bd-7">
            <div class="cmt-title text-center abs">
                <h1 class="page-title v1">Login</h1>
            </div>
            <div class="page-content">
                <p>Sign in to your account</p>
                <form class="login-form" method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email address <span class="f-red">*</span></label>
                        {{ form.username }}
                        {{ form.username.error}}
                        <label>Password <span class="f-red">*</span></label>
                        {{ form.password }}
                        {{ form.password.error }}
                    </div>
                    <div class="flex lr">
                        <button type="submit" class="btn btn-submit btn-gradient">Login</button>
                        <div class="checkbox checkbox-default">
                            <input id="remember" type="checkbox" value="yes" class="">
                            <label for="remember"><span class="chk-span" tabindex="2"></span>Remember me</label>
                        </div>
                    </div>
                </form>
                <a href="{% url 'password_reset' %}" class="btn-lostpwd spc">Lost your password?</a>
            </div>
        </div>
    </div>
{% endblock content %}
