{% extends "registration/account__col-1.html" %}
{% load static i18n %}

{% block head_title %}
Password reset confirmation | {{ block.super }}
{% endblock head_title %}

{% block breadcrumb %}
    <ul class="breadcrumb v3">
        <li><a href="#">Home</a></li>
        <li class="active">My Account</li>
    </ul>
{% endblock breadcrumb %}

{% block messages %}
{% endblock messages %}

{% block content %}
    <div class="row flex pd">
        <div class="account-element bd-7">
            <div class="cmt-title text-center abs">
                <h1 class="page-title v1">Password reset confirmation</h1>
            </div>
            <div class="page-content">
                
                {% if validlink %}

                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form class="login-form" method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>New password <span class="f-red">*</span></label>
                        {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                        <label>Confirm password <span class="f-red">*</span></label>
                        {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                    </div>
                    <div class="flex lr">
                        <button type="submit" class="btn btn-submit btn-gradient">
                            Change my password
                        </button>
                    </div>
                </form>

                {% else %}

                <p>
                    The password reset link was invalid, possibly because it has already been used.  
                    Please request a new password reset.
                </p>

                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}