{% load static %}
<div class="ads-group v2 bd-slick">
    <div class="container container-240">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="e-slide js-slider-3items">
                    <div class="e-slide-img">
                        <img src="{% static 'assets/img/slider/h5_s1.jpg' %}" alt="" class="img-responsive">
                        <div class="slide-content v1">
                            <p class="cate">SMART TIVI</p>
                            <h3>Say hello to the future</h3>
                            <p class="sale">Sale up to <span class="red">60%</span> off</p>
                            <a href="home5.html#" class="slide-btn e-pink-gradient">Shop now<i
                                    class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                    <div class="e-slide-img">
                        <img src="{% static 'assets/img/slider/h5_s2.jpg' %}" alt="" class="img-responsive">
                        <div class="slide-content v1">
                            <p class="cate">SMART TIVI</p>
                            <h3>Say hello to the future</h3>
                            <p class="sale">Sale up to <span class="red">60%</span> off</p>
                            <a href="home5.html#" class="slide-btn e-pink-gradient">Shop now<i
                                    class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                    <div class="e-slide-img">
                        <img src="{% static 'assets/img/slider/h5_s3.jpg' %}" alt="" class="img-responsive">
                        <div class="slide-content v1">
                            <p class="cate">SMART TIVI</p>
                            <h3>Say hello to the future</h3>
                            <p class="sale">Sale up to <span class="red">60%</span> off</p>
                            <a href="home5.html#" class="slide-btn e-red-gradient">Shop now<i
                                    class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12 banner-img-item">
                        <div class="banner-img banner-img2">
                            <a href="home5.html#"><img src="{% static 'assets/img/banner/h5_b2.jpg' %}" alt="" class="img-responsive"></a>
                            <div class="h-banner-content v4">
                                <p class="content-name">Playstation 4 game pro</p>
                                <p class="content-price">From <span class="red">29.99</span></p>
                                <a href="home5.html#" class="btn-banner">Shop now<i
                                        class="ion-ios-arrow-forward"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 banner-img-item">
                        <div class="banner-img banner-img2 banner-img-item">
                            <a href="home5.html#"><img src="{% static 'assets/img/banner/h5_b1.jpg' %}" alt="" class="img-responsive"></a>
                            <div class="h-banner-content v4">
                                <p class="content-name">Smart phone mix 2</p>
                                <p class="content-price">From <span class="red">99.99</span></p>
                                <a href="home5.html#" class="btn-banner">Shop now
                                    <i class="ion-ios-arrow-forward"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>