{% load static %}
<div class="category-list spc5">
    <div class="container container-240">
        <div class="ecome-heading style5 spc5v2">
            <h1>Categories</h1>
            <a href="home5.html#" class="btn-show">Shop more<i class="ion-ios-arrow-forward"></i></a>
        </div>
        
        <div class="owl-carousel owl-theme owl-cate v3 js-owl-cate">
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/tv3.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>TV & Video</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Televisions</a></li>
                        <li><a href="home5.html#">Blu-ray Players</a></li>
                        <li><a href="home5.html#">Streaming Media Players</a></li>
                        <li><a href="home5.html#">Home Audio</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/sonos.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Home Audio & Theater</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Speakers</a></li>
                        <li><a href="home5.html#">Streaming audio</a></li>
                        <li><a href="home5.html#">Stereo system components</a></li>
                        <li><a href="home5.html#">Headphones</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/snap.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Camera & Photo</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Accessories</a></li>
                        <li><a href="home5.html#">Lenses</a></li>
                        <li><a href="home5.html#">Lighting & Studio</a></li>
                        <li><a href="home5.html#">Video</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/xbox2.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/xbox2.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/samsungbox.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/phone3.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/phone2.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/phone3.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/tv.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/fujifilm.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-item">
                <div class="bd-7 pd30">
                    <div class="cate-img">
                        <a href="home5.html#"><img src="{% static 'assets/img/product/tv2.jpg' %}" alt=""></a>
                    </div>
                    <div class="cate-content">
                        <h3>Computers & Accessories</h3>
                        <div class="abs">
                            <a href="home5.html#" class="btn-shopcate btn-gradient">Shop now<i class="ion-ios-arrow-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cate-bg pd30">
                    <ul class="cate-list">
                        <li><a href="home5.html#">Tablets</a></li>
                        <li><a href="home5.html#">Desktops</a></li>
                        <li><a href="home5.html#">Computer Accessories</a></li>
                        <li><a href="home5.html#">PC Gaming</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>