{% load static %}
<div class="more-product bg-gradient bg-insinde">
    <div class="container container-240">
        <div class="h-heading">
            <div class="title-icon t-inline">
                <img src="{% static 'assets/img/iconbs.png' %}" alt="">
                <h1>You may like</h1>
            </div>
            <a href="#" class="btn-morepd">
                <span><i class="icon-refresh"></i></span>Refresh for more
            </a>
        </div>
        <div class="multiple-row js-multiple-row">
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/ipad.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                            <a href="#" class="circle darkyellow"></a>
                                            <a href="#" class="circle skyblue"></a>
                                            <a href="#" class="circle pink"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/tplink.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/wifi.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/macbook.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="ribbon-price v4 red"><span>- 30% </span></div>
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/phone5.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/logitech.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/ipad.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/tplink.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/phone5.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/wifi.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/sonos.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/headphone2.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/headphone.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/tv.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/phone2.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/fujifilm.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product-item">
                <div class="pd-bd product-inner v2">
                    <div class="flex align-center">
                        <div class="product-img">
                            <a href="#"><img src="{% static 'assets/img/product/samsung.jpg' %}" alt="" class="img-reponsive"></a>
                        </div>
                        <div class="product-info">
                            <div class="color-group">
                            </div>
                            <div class="element-list element-list-left">
                            </div>
                            <div class="element-list element-list-middle">
                                <p class="product-cate">Audio Speakers</p>
                                <h3 class="product-title"><a href="#">Harman Kardon Onyx Studio </a></h3>
                                <div class="product-bottom v2">
                                    <div class="product-price"><span>$1,215.00</span></div>
                                    <div class="product-bottom-element flex">
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                        <div class="color-group">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-button-group hidden-xs hidden-sm">
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-cart"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-wishlist"></span>
                                </a>
                                <a href="#" class="btn-icon">
                                    <span class="icon-bg icon-compare"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-button-group hidden-md hidden-lg">
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-cart"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-wishlist"></span>
                        </a>
                        <a href="#" class="btn-icon">
                            <span class="icon-bg icon-compare"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>