{% load static %}
<div class="header-cate e-gradient hidden-xs hidden-sm">
    <ul>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_1.png' %}" alt="">
                Home Audio & Theater
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_2.png' %}" alt="">
                Camera, Photo & Video
                <span class="h-ribbon h-pos v2 e-red">Hot</span>
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_3.png' %}" alt="">
                Cell Phones & Accessories
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_4.png' %}" alt="">
                Headphones
                <span class="h-ribbon h-pos v2 e-skyblue">new</span>
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_5.png' %}" alt="">
                Games & Consoles
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_6.png' %}" alt="">
                Accessories
            </a>
        </li>
        <li>
            <a href="home4.html#">
                <img src="{% static 'assets/img/icon_7.png' %}" alt="">
                Printers & Ink
            </a>
        </li>
    </ul>
</div>