{% load static %}
<div class="f-bottom">
    <div class="container container-240">
        <div class="row flex lr">
            <div class="col-xs-6 f-copyright">
                <span>© 2010-2018 DiscountBoard. All rights reserved.</span>
            </div>
            <div class="col-xs-6 f-payment hidden-xs">
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/mastercard.png' %}" alt="">
                </a>
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/paypal.png' %}" alt="">
                </a>
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/visa.png' %}" alt="">
                </a>
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/american-express.png' %}" alt="">
                </a>
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/western-union.png' %}" alt="">
                </a>
                <a href="home4.html#">
                    <img class="img-reponsive" src="{% static 'assets/img/payment/jcb.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>