{% load static %}
<link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/animate/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/codemirror/codemirror.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/nouislider/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/photoswipe/photoswipe.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/photoswipe/default-skin/default-skin.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/threesixty-degree/360-degree-riewer.min.css' %}">